{#
/**
 * @file
 * Default theme implementation for a bootstrap columns layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'layout',
  content['blb_region_col_2'] ? 'row',
  content['#settings']['remove_gutters'] is same as('1') ? 'no-gutters' : '',
  'layout-builder__layout'
] %}

{% if content %}
  {% if content.title %}
    <div {{ region_attributes.title }}>
      {{ content.title }}
    </div>
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% for i in 1..12 %}
      {% set region = "blb_region_col_" ~ i %}
      {% if content[region] %}
        <div {{ region_attributes[region] }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
    {{ title_suffix }}
  </div>

{% endif %}
