{% if content %}
  <div {{ attributes.addClass('page-title-layout') }}>
  {% if content.left %}
    <div {{ region_attributes.left.addClass('page-title-layout__left') }}>
      {{ content.left }}
    </div>
  {% endif %}
  {% if content.right %}
    <div {{ region_attributes.right.addClass('page-title-layout__right') }}>
      {{ content.right }}
    </div>
  {% endif %}
  </div>
{% endif %}